<% @places.each do |resort| %>
	<div class = "booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= resort.name %></h1><br />
		<i><%= resort.address %></i><br />
		<p><%= resort.description %></p><br />
	</div>
<% end %>

<div class = "apple_pagination">
	<%= will_paginate @places %>
</div>
